body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
     width: 1500px;
    background-color: white;
    margin: auto;
    padding: 35px 0 0 50px;
}

.page {
    width: 850px;
    background-color: white;
    padding: 35px 0 0 50px;
}

#choropleth_map {
    display: flex;
    align-items: center;
    justify-content: center;       
    margin: 25px 0 50px 0;
}

